@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
/* font style  */
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* sheared style */
#color-shear{
  color: rgb(146, 144, 167);
  font-weight: 500;
}
#color-shear-2{
  font-weight:400;
}
.color-tomato{
  color: rgba(233, 90, 8, 1) ;
}
.color-shear-3{
  color: rgba(0, 0, 0, 0.5);
}
/* navigation bar section  */
.nav-bar{
    width: 1270px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    align-items: center;
}
.links a{
    text-decoration: none;
    margin-left: 48px;
    color: #252432;
    font-weight:900;
}
/* bannar section start  */
.bannar{
  display: flex;
  width: 1140px;
  margin: 120px auto ;
  align-items:flex-end;
}
.bannar-title h1{
  font-size: 65px;
  font-weight: bold;
}
.bannar-title p{
  font-size: 22px;
}
/* card section start */
.our-plants{
  text-align: center;
}
.our-plants h2{
  font-size: 50px;
  font-weight: bold;
}
.our-plants p{
  font-size: 22px;
}
.flower-card{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 1140px;
  margin: 50px auto;
  gap: 20px;
}
.flower{
  width: 273px;
  height: 485px;
  text-align: center;
}
.flower h4{
  font-size: 22px;
  font-weight: 500;
  margin: 25px 0px 10px;
}
.flower p{
  font-size: 22px;
  font-weight: bolder;
}
.flower button{
  width: 100%;
  height: 52px;
  font-size:16px;
  font-weight: bold;
  color:white ;
  margin-top: 15px;
  border: none;
  background-color:rgba(233, 90, 8, 1) ;
}
/* flower-Lover section start */
.flower-Lover{
  display: flex;
  width: 1140px;
  margin: 210px auto 134px;
}
.plants-lover{
  position: relative;
}
.plants-lover img{
  width:540px;
  height: 595px;
}
.trusted-badge img{
  height:286px;
  width:286px;
  position: absolute;
  top: -150px;
  right: -120px;
}
.lover-title{
  padding:36px 60px ;
}
.lover-title h2{
  font-size: 50px;
  font-weight: bold;
}
.lover-title ul li{
  font-size: 22px;
  margin: 20px 20px;
  color: rgba(0, 0, 0, 0.5);
}
/* latest deals section start */
.latest-deal{
  text-align: center;
}
.latest-deal h2{
  font-size:50px ;
  margin-bottom: 20px;
}
.offer-card-1{
  background-image:linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  width: 360px;
  height: 190px;
  padding: 65px 48px;
  margin-bottom: 20px;
  border-radius:14px;
}
.offer-card-2{
  background-image:linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  width: 360px;
  height: 190px;
  padding: 65px 48px;
  border-radius:14px ;
}
.offer-card-3{
   background-image:linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/deal-zabo.png);
   background-repeat: no-repeat;
   width: 753px;
   height: 400px;
   padding: 165px ;
   border-radius:22px ;
}
.offer-card-3 h4{
  font-size:40px ;
}
.offer-card-3 a{
  font-size: 22px;
}
.offer-card-section{
  display: flex;
  width: 1140px;
  margin: 110px auto ;
  gap: 25px;
}
.offer-card-section h4, a{
  color: white;
}
/* Join bunch section start  */
.join-bunch{
  background-image: url(../assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 533px;
  text-align: center;
  padding: 200px 300px;
}
.join-bunch h2{
  font-size: 50px;
  font-weight: bold;
  margin-bottom:25px ;
  color: white;
}
.Subscribe-1{
  height: 50px;
  width:644px ;
  padding-left: 20px;
  font-size: 16px;
}
.Subscribe-2{
  height: 47px;
  width:180px;
  font-size:16px;
  font-weight: 600;
  color:white ;
  border: none;
  background-color:rgba(233, 90, 8, 1) ;
}